/* Estilos generales */

body{
    font-family: ;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

/* Header */

header{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(9, 100, 204);
    height: 70px;
    padding: 40px;
}

.logo{
    display:flex;
}

.logo img{
    height: 120px;
}

nav a{
    font-weight: 600;
    padding-left: 10px;
}

/* Secciones */

.seccion-blanca{
    background-color: white;
    color: black;
}

.seccion-azul{
    background-color: rgb(9, 100, 204);
    color:white;
}