/* Estilos generales */

*{
    list-style-type: none;
		color: white;
}

body{
    font-family: 'Signika Negative', sans-serif;
    margin: 0;
}

/* Header */


.header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(3, 32, 139, 0.899);
    height: 151px;
}

.logo{
    display:flex;
    padding-right: 60px;
}

.logo img{
    height: 120px;
}

.navbar a{
    display: inline;
    font-size: 17px;
    font-weight: 200;
    padding-left: 40px;
}


/* Secciones */

.seccion-blanca{
    display: flex;
    padding: 25px;
    background-color: white;
    color: rgb(3, 32, 139, 0.899);
    font-size: 30px;
}

.seccion-azul{
    display: flex;
    padding: 70px; 
    background-color: rgb(3, 32, 139, 0.899);
    color:white;
}

.seccion-blanca{
    display: flex;
    padding: 50px;
    background-color: white;
}

/* Hero */

#informacion-hero{
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-bottom: 40px;
}

#informacion-hero h3{
    font-size: 60px;
    font-family: 'Antonio', sans-serif;
    color:rgb(3, 32, 139, 0.899);
}

#informacion-hero p{
    font-size: 30px;
    font-family: 'Antonio', sans-serif;
    color: rgb(3, 32, 139, 0.899);
}

#estatua-almafuerte img{
    width:750px;
    height: 350px; 
    border-radius: 5px;
    padding-left: 155px;
}

/* Seccion contactos */

.seccion-contacto{
    padding: 50px 10px 130px 10px;
}

.seccion_titulo{
    background-color: white;
}

#h1_principal{
    font-family: 'Antonio', sans-serif;
    display: flex;
    color: rgb(3, 32, 139, 0.899);
    justify-content: center;
    padding-bottom: 3%;
}

.seccion_textos{
    display: grid;
    grid-template-columns:33%  ;
    grid-template-rows:50% ;
    grid-template-areas: "area1 area2 area5" "area3 area4 area6" ; 
    border-color: black;
}

#titulo1{
    font-family: 'Antonio', sans-serif;
    grid-area: area1;
    color: black;
    font-size: 25px;
    padding-left: 5%;
}

#texto1{
    grid-area: area3;
    color: black;
    font-size: 20px;
    padding:5%;
}

#titulo2{
    font-family: 'Antonio', sans-serif;
    grid-area: area2;
    color: black;
    font-size: 25px;
    padding-left: 5%;
}

#texto2{
    grid-area: area4;
    color: black;
    font-size: 20px;
    padding:5%;
}

#titulo3{
    font-family: 'Antonio', sans-serif;
    grid-area: area5;
    color: black;
    font-size: 25px;
    padding-left: 5%;
}

#texto3{
    grid-area: area6;
    color: black;
    font-size: 20px;
    padding:5%;
}

.barra_color{
    width: 100%;
    height: 30px;
    background-color: rgb(3, 32, 139, 0.899);
}

/* Slider de imagenes */

.slider{
    width: 100%;
    height: 560px;
    overflow: hidden;
}
.slider ul{
    display:flex;
    animation: cambio 15s infinite alternate linear;
    width: 400%;
}

.slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    display: flex;
    width: 100%;
    height: 550px;
}

@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left:0;}
    25%{margin-left:-100%;}
    45%{margin-left:-100%;}
    50%{margin-left:-200%;}
    70%{margin-left:-200%;}
    75%{margin-left:-300%;}
    100%{margin-left:-300%;}
}

/* Elegirnos */

#seccion-elegirnos{
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 35px;
    background-color: rgb(3, 32, 139, 0.899);
}

#texto-elegirnos{
    padding-top: 20px;
    text-align: center;
    font-family: 'Antonio', sans-serif;
    font-size: 45px;
}

.items-elegirnos{
    display: flex;
}

.elegirnos{
    padding: 0px 50px 80px 50px;
    background-color: rgb(3, 32, 139, 0.899);
}

.elegirnos .columna{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.elegirnos-titulo{
    padding-top: 3px;
    font-family: 'Antonio', sans-serif;
    font-size: 22px;
    margin: 10px 0;
}

.elegirnos i{
    font-size: 2.5rem;
    color:rgb(3, 32, 139, 0.899);
    background-color: rgb(255, 255, 255) ;
    padding: 12px 30px;
    border-radius: 50%;
}

/* Instituto */

.nuestra-historia{
    display: flex;
    padding-top: 65px;
    padding-bottom: 45px;
    justify-content: center;
}

.texto-nuestra-historia{
    font-family: 'Antonio', sans-serif;
    color: rgb(3, 32, 139, 0.899);
    font-size: 50px;
}

.texto-parrafo p{
    display: flex;
    flex-direction: column;
    margin: 0 auto 0;
    padding: 1%;
    text-align: center;
    flex-direction:column;
    color: black;
}

.posesiones{
    padding: 20px;
}

.posesion img{
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}

.posesiones-contenedor{
    padding-top: 30px;
    margin-bottom: 30px;
}

.overlay{
    transition: all 0.2 ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p{
    font-size: 25px;
    font-family: 'Antonio', sans-serif;
    margin-bottom: 0;
}

.posesion{
    position: relative;
}

.posesion:hover img{
    opacity: 0.8;
}

.posesion:hover .overlay{
    opacity: 1;
}

/* Noticias */

#texto-noticias{
    display: flex;
    padding-bottom: 30px;
	padding-left: 40px;
	color: rgb(3, 32, 139, 0.899);
    font-family: 'Antonio', sans-serif;
}

#seccion-noticias{
    display: flex;
}

#seccion-noticias #noticia-principal{
    display: flex;
    padding-top: 70px;
}

#seccion-noticias #noticia-principal img{
    width: 450px;
    height: 360px;
}

.noticias-pequeñas{
    display: flex;
    align-items: end;
    flex-direction: column;
    padding-top: 50px;
    padding-right: 20px;
}

.noticias-pequeñas img{
    display: flex;
    padding: 19px;
    width: 350px;
    height: 200px;
}

#texto-noticias-pequeña{
    display: flex;
    justify-content: center;
}

#texto-noticias-pequeñas a{
    color: rgb(3, 32, 139, 0.899);
    padding-right: 20px;
    font-family: 'Antonio', sans-serif;
    text-decoration: none;
}

#texto-noticias-pequeñas a:active{
    color: black;
    padding-bottom: 5px;
    padding-right: 20px;
}


/* Footer azul*/

.footer-azul{
    padding: 40px;
	bottom: 0px;
    background-color: rgb(3, 32, 139, 0.899);
}

.mapa_footer{
    border-radius: 5px;
}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav .nav_lista{
    display: flex;
    flex-direction: column;
}

.nav .nav_lista .nav_lista_item{
    display: flex;
    padding: 22px;
}

/* Texto footer azul*/

.texto-footer-azul{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

/* Footer negro*/

.footer-negro{
    display:flex;
	bottom: 0px;
    background-color: black;
    justify-content: center;
    color: #aeaeae;
    font-family: Arial, Helvetica, sans-serif;
}

#texto-footer{
    padding: 2px;
}

/* Media queries */

@media screen and (max-width: 400px){
    .overlay p{
        font-size: 18px;
        font-family: 'Antonio', sans-serif;
    }
}